<template>
  <v-layout row wrap id="help">
    <v-flex xs12>
      <v-card>
        <v-card-title>
          <h1 class="display-1 my-2">
            Help
            <v-icon class="right">fas fa-question-circle</v-icon>
          </h1>
        </v-card-title>
        <v-card-text>
          <v-card tile color="grey lighten-3" class="mb-4">
            <v-card-text class="caption">
              <strong>Note</strong>: This application is the frontend provided to participants of a serverless backend developed using AWS services as part of the Serverless AWS Series training course.
              Participants doing the course should configure the user interface to use their API endpoint and other AWS resources within their backend application.
              Refer to course material for information about how to deploy and configure the frontend to your AWS account.
            </v-card-text>
          </v-card>
          <p class="body-1 my-2">
            On the <router-link to="/">home page</router-link>, there are two main panels:
          </p>
          <ul class="my-4">
            <li class="body-2 my-2">
              The <strong>Items</strong> panel allows you to preview the available items, click on an item for details.
            </li>
            <li class="body-2 my-2">
              The <strong>Requests</strong> panel represents the workflow of requesting, approving, collecting and completing requisition requests.
            </li>
          </ul>

          <h2 class="subheading mt-4 mb-2">Item types</h2>
          <p class="body-1 my-2">
            There are two main types of items:
          </p>
          <ul class="my-4">
            <li class="body-2 my-2">
              <strong>Standard items</strong> are permanent assets in the inventory that are reusable.
              Each standard item has a count, which indicates the number available in the inventory.
              These assets must be returned at the end of a loan.
              Every request must include at least one standard item.
            </li>
            <li class="body-2 my-2">
              <strong>Consumable items</strong> are supplies that are generally consumed as part of a requisition.
              These assets can be returned if unused.
              Consumable items do not have a managed count; it is assumed they are always available.
            </li>
          </ul>
          <p class="body-1 my-2">
            Administrators have the ability to manage both types of items, including the count of standard items, as the inventory changes.
          </p>

          <h2 class="subheading mt-4 mb-2">Request workflow</h2>
          <p class="body-1 my-2">
            A "requisition request" is created by a user who wishes to use equipment from the inventory.
            The request includes the equipment being requested, the dates it is to be collected and returned, and a reason for the request.
            Requests are submitted through a simple workflow:
          </p>
          <ol class="my-4">
            <li class="body-2 my-2">
              <strong>Submit request</strong>: where the user expresses their intent to use equipment.
              The request must explain the purpose of the loan.
            </li>
            <li class="body-2 my-2">
              <strong>Review request</strong>: where an administrator allows or denies the request.
              The submitter can also withdraw the request.
              The request can be modified up to the point of being approved, rejected or withdrawn.
            </li>
            <li class="body-2 my-2">
              <strong>Collect items</strong>: where the requester confirms that they have received the items.
              The submitter can withdraw the request until it is collected.
            </li>
            <li class="body-2 my-2">
              <strong>Return items</strong>: where an administrator confirms that the items have been returned.
            </li>
          </ol>
          <p class="body-1 my-2">
            Each of the above steps allows users to add comments, which are included in communications.
            When the items are returned, the request is archived and can no longer be modified.
          </p>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script lang="ts">
  import Vue from 'vue';
  import { getSettings } from '@/settings';

  export default Vue.extend({
    name: 'Help',
    computed: {
      settings: getSettings
    },
    metaInfo() {
      return {
        title: `Help`,
        meta: [{
          vmid: 'description',
          name: 'description',
          content: `User documentation for ${this.settings.title}`
        }]
      };
    }
  });
</script>
