<template>
  <v-layout row wrap id="home">
    <v-flex xs12 class="pb-6">
      <v-card>
        <v-card-title>
          <h1 class="display-1 my-2">Welcome to {{ settings.title }}</h1>
        </v-card-title>
        <v-card-text>
          <p class="body-1 my-2">
            {{ settings.tagline }}
          </p>
        </v-card-text>
      </v-card>
    </v-flex>

    <v-flex md7 sm12 :class="this.$vuetify.breakpoint.smAndDown ? 'pb-6' : 'pr-6'">
      <v-card>
        <v-card-title>
          <h2 class="headline my-2">Requests</h2>
        </v-card-title>
        <v-card-text>
          <v-list>
            <v-list-item to="/request-loan">
              <v-list-item-avatar class="hidden-xs-only">
                <v-icon fab class="success white--text">fas fa-file-upload</v-icon>
              </v-list-item-avatar>
              <v-list-item-content style="align-items: start">
                Create and submit a new requisition request
              </v-list-item-content>
              <v-list-item-action>
                <v-btn rounded color="primary">Submit</v-btn>
              </v-list-item-action>
            </v-list-item>
            <v-list-item to="/loans/by-status/submitted">
              <v-list-item-avatar class="hidden-xs-only">
                <v-icon fab class="blue-grey white--text">fas fa-handshake</v-icon>
              </v-list-item-avatar>
              <v-list-item-content style="align-items: start">
                Review and approve or deny submitted requests
              </v-list-item-content>
              <v-list-item-action>
                <v-btn rounded color="primary">Review</v-btn>
              </v-list-item-action>
            </v-list-item>
            <v-list-item to="/loans/by-status/approved">
              <v-list-item-avatar class="hidden-xs-only">
                <v-icon fab class="warning white--text">fas fa-truck-loading</v-icon>
              </v-list-item-avatar>
              <v-list-item-content style="align-items: start">
                View approved requests ready for collection
              </v-list-item-content>
              <v-list-item-action>
                <v-btn rounded color="primary">Collect</v-btn>
              </v-list-item-action>
            </v-list-item>
            <v-list-item to="/loans/by-status/collected">
              <v-list-item-avatar class="hidden-xs-only">
                <v-icon fab class="purple white--text">fas fa-truck-moving</v-icon>
              </v-list-item-avatar>
              <v-list-item-content style="align-items: start">
                View current loans that can be returned
              </v-list-item-content>
              <v-list-item-action>
                <v-btn rounded color="primary">Return</v-btn>
              </v-list-item-action>
            </v-list-item>
            <v-list-item to="/loans/by-status/returned">
              <v-list-item-avatar class="hidden-xs-only">
                <v-icon small class="grey--text">fas fa-clipboard-check</v-icon>
              </v-list-item-avatar>
              <v-list-item-content style="align-items: start">
                View archived loans
              </v-list-item-content>
              <v-list-item-action>
                <v-btn text small color="primary">Archived</v-btn>
              </v-list-item-action>
            </v-list-item>
            <v-list-item to="/loans/by-status/cancelled">
              <v-list-item-avatar class="hidden-xs-only">
                <v-icon small class="grey--text">fas fa-window-close</v-icon>
              </v-list-item-avatar>
              <v-list-item-content style="align-items: start">
                View cancelled loans
              </v-list-item-content>
              <v-list-item-action>
                <v-btn text small color="primary">Cancelled</v-btn>
              </v-list-item-action>
            </v-list-item>
          </v-list>
        </v-card-text>
      </v-card>
    </v-flex>

    <v-flex md5 sm12>
      <v-card>
        <v-card-title>
          <h2 class="headline my-2">Items</h2>
        </v-card-title>
        <v-card-text>
          <CategorisedItemList />
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script lang="ts">
  import Vue from 'vue';
  import { getSettings } from '@/settings';
  import CategorisedItemList from '@/components/CategorisedItemList.vue';

  export default Vue.extend({
    name: 'Home',
    components: {
      CategorisedItemList
    },
    computed: {
      settings: getSettings
    },
    metaInfo() {
      return {
        title: this.settings.title,
        meta: [{
          vmid: 'description',
          name: 'description',
          content: `${this.settings.title} - ${this.settings.tagline}`
        }]
      };
    }
  });
</script>
