<template>
  <v-card :loading="loading" id="item-details">
    <v-card-title>
      <h1 class="display-1 my-2">{{ item ? item.name : error ? 'Error' : 'Loading...' }}</h1>
    </v-card-title>
    <v-card-text>
      <p v-if="error">
        An error occurred loading this item.
      </p>
      <div v-else-if="item">
        <p class="body-2 my-2">
          <v-chip>{{ formatTitle(item.category) }}</v-chip>
        </p>
        <p class="body-1 my-2">
          {{ item.description }}
        </p>
      </div>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
  import Vue from 'vue';
  import { Item } from '@/schema';
  import { getSettings } from '@/settings';
  import { getItemById } from '@/services/items';
  import { formatTimestamp, formatTitle } from '@/formatters';

  export default Vue.extend({
    name: 'ItemDetails',
    data() {
      return {
        item: undefined as Item | undefined,
        loading: false,
        error: false
      };
    },
    metaInfo() {
      return !this.$data.item
        ? { title: 'Loading...' }
        : {
            title: `${this.$data.item.name} at ${this.settings.title}`,
            meta: [{
              vmid: 'description',
              name: 'description',
              content: `${this.$data.item.title}: ${this.$data.item.description} - ${this.$data.title}`
            }]
          };
    },
    async mounted() {
      this.$data.loading = true;
      try {
        this.item = await getItemById(this.$route.params.id);
      } catch (e) {
        console.error('Could not load item due to error', e);
        this.$data.error = true;
      } finally {
        this.$data.loading = false;
      }
    },
    methods: {
      formatTimestamp,
      formatTitle
    },
    computed: {
      settings: getSettings
    }
  });
</script>
