<template>
  <v-list three-line subheader :class="['loans-by-status']" color="blue-grey lighten-4">
    <v-progress-linear indeterminate v-if="loading" />
    <v-list-item v-else-if="error">
      <v-list-item-avatar>
        <v-icon color="error">fas fa-exclamation-triangle</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>An error occurred loading the loans list</v-list-item-title>
        <v-list-item-subtitle>Try refreshing your browser</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <template v-else>
      <v-subheader class="blue-grey lighten-3">
        <h1 class="display-1 my-2">Loans that have been {{ $route.params.status }}{{ statusDescriptions[$route.params.status] }}</h1>
      </v-subheader>
      <v-list-item v-if="loans.length === 0">
        <v-list-item-content>
          No loans currently {{ $route.params.status }}{{ statusDescriptions[$route.params.status] }}.
        </v-list-item-content>
      </v-list-item>
      <v-list-item v-else v-for="({ id, user, selections, collectionDate, returnDate, status }, index) in loans" :key="`item-list-item-${id}`">
        <v-list-item-content>
          <v-list-item-title>
            Loan for {{ user || 'anonymous' }}
          </v-list-item-title>
          <v-list-item-subtitle>
            {{ selections ? selections.length : 0 }} selections consisting of {{ totalItemCount(selections) }} items
          </v-list-item-subtitle>
          <v-list-item-subtitle>
            From {{ moment(collectionDate).format(settings.displayDateFormat) }} to {{ moment(returnDate).format(settings.displayDateFormat) }}
          </v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-action>
          <template v-if="$data.transitioningIndexes.includes(index)">
            <v-progress-circular indeterminate />
          </template>
          <template v-else>
            <v-btn text v-if="getNextStatusCount(status) === 1" color="primary" @click="process(id, getNextStatus(status, 0).targetStatus)">
              <v-icon left small>{{ getNextStatus(status, 0).icon }}</v-icon>
              {{ getNextStatus(status, 0).label }}
            </v-btn>
            <v-menu offset-y v-if="getNextStatusCount(status) > 1">
              <template v-slot:activator="{ on }">
                <v-btn text color="primary" v-on="on">
                  Actions
                  <v-icon small right>fas fa-angle-down</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item>
                  <v-btn text color="primary" @click="process(id, getNextStatus(status, 0).targetStatus)">
                    <v-icon left small>{{ getNextStatus(status, 0).icon }}</v-icon>
                    {{ getNextStatus(status, 0).label }}
                  </v-btn>
                </v-list-item>
                <v-list-item v-if="getNextStatusCount(status) >= 2">
                  <v-btn text color="secondary" @click="process(id, getNextStatus(status, 1).targetStatus)">
                    <v-icon left small>{{ getNextStatus(status, 1).icon }}</v-icon>
                    {{ getNextStatus(status, 1).label }}
                  </v-btn>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
        </v-list-item-action>
        <v-list-item-action>
          <v-btn text color="secondary" :to="`/loans/${id}`">
            Details
            <v-icon right small>fas fa-book-reader</v-icon>
          </v-btn>
        </v-list-item-action>
      </v-list-item>
    </template>
  </v-list>
</template>

<script lang="ts">
  import Vue from 'vue';
  import moment from 'moment';
  import { getSettings } from '@/settings';
  import { LoanStatus, Loan, Selection, ID } from '@/schema';
  import { listLoansByStatus, transitionLoan } from '@/services/loans';
  import { Route } from 'vue-router';
  import { getNextStatus, getNextStatusCount } from '@/workflow';
  import { showSnack } from '@/services/snacks';

  export default Vue.extend({
    name: 'LoansByStatus',
    data() {
      return {
        loading: false,
        error: false,
        loans: [] as Loan[],
        transitioningIndexes: [] as number[]
      };
    },
    async mounted() {
      await this.load(this.$route);
    },
    async beforeRouteUpdate(to, from, next) {
      await this.load(to);
      next();
    },
    computed: {
      settings: getSettings,
      statusDescriptions: (): Record<LoanStatus, string> => ({
        submitted: ' awaiting review',
        approved: ' to be collected',
        collected: ' to be returned',
        returned: ' and archived',
        cancelled: ' by requester or admin'
      })
    },
    methods: {
      moment,
      getNextStatusCount,
      getNextStatus,
      totalItemCount(selections: Selection[]) {
        return selections ? selections.reduce((result, { count }) => result + count, 0) : 0;
      },
      async load(route: Route) {
        this.$data.loading = true;
        try {
          const loans = await listLoansByStatus(route.params.status as LoanStatus);
          this.$data.loans.splice(0, this.$data.loans.length, ...loans);
        } catch (e) {
          console.error('Could not load loans', e);
          this.$data.error = true;
        } finally {
          this.$data.loading = false;
        }
      },
      async process(id: ID, newStatus: LoanStatus) {
        // TODO Comments
        const loanIndex = this.$data.loans.findIndex((loan: Loan) => loan.id === id);
        this.$data.transitioningIndexes.push(loanIndex);
        console.info(`Processing loan transition to "${newStatus}"`);
        try {
          await transitionLoan(id, newStatus);
          this.$data.loans.splice(loanIndex, 1);
        } catch (e) {
          console.error('Could not perform status transition due to error', e);
          showSnack(e, 'error');
        } finally {
          this.$data.transitioningIndexes.splice(this.$data.transitioningIndexes.indexOf(loanIndex), 1);
        }
      }
    },
    metaInfo() {
      return {
        title: this.settings.title,
        meta: [{
          vmid: 'description',
          name: 'description',
          content: `${this.settings.title} - ${this.settings.tagline}`
        }]
      };
    }
  });
</script>
