<template>
  <v-layout row wrap id="request-loan">
    <v-flex xs12>
      <h1 class="display-1 my-2">
        New Loan Request
      </h1>
      <p class="body-1">
        Complete the details for your request and hit "submit".
        Your request will be reviewed.
        If your request is approved, you will be notified.
        If items are unavailable or denied, you will be contacted.
      </p>
    </v-flex>
    <v-flex xs12>
      <v-form>
        <v-stepper v-model="step" vertical>
          <v-stepper-step :complete="step > 1" step="1">Enter loan details</v-stepper-step>
          <v-stepper-content step="1">
            <v-card color="grey lighten-4">
              <v-card-text>
                <v-layout row wrap>
                  <v-flex xs12 pa-2>
                    <v-text-field
                      readonly
                      v-model="userEmailAddress"
                      label="User making request"
                      prepend-icon="fas fa-user"
                      validate-on-blur
                      :rules="[required('You must supply your verified email address')]" />
                  </v-flex>
                  <v-flex xs12 pa-2>
                    <v-text-field
                      v-model="reason"
                      label="Reason for loan"
                      prepend-icon="fas fa-align-justify"
                      validate-on-blur
                      :rules="[required('You must provide a reason for the loan')]" />
                  </v-flex>
                  <v-flex xs12 md6 pa-2>
                    <v-menu ref="collectionDateMenu" v-model="collectionDateMenu" offset-y>
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="collectionDate"
                          label="Collection date"
                          prepend-icon="fas fa-truck-loading"
                          v-on="on"
                          validate-on-blur
                          :rules="[required('You must provide dates for the loan')]" />
                      </template>
                      <v-date-picker
                        no-title
                        :allowed-dates="(d) => new Date(d).getTime() > Math.max(Date.now(), new Date(collectionDate).getTime())"
                        v-model="collectionDate" />
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 md6 pa-2>
                    <v-menu ref="returnDateMenu" v-model="returnDateMenu" offset-y>
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="returnDate"
                          label="Return date"
                          prepend-icon="fas fa-truck-moving"
                          v-on="on"
                          validate-on-blur
                          :rules="[required('You must provide dates for the loan')]" />
                      </template>
                      <v-date-picker
                        no-title
                        :allowed-dates="(d) => new Date(d).getTime() > Math.max(Date.now(), new Date(collectionDate).getTime())"
                        v-model="returnDate" />
                    </v-menu>
                  </v-flex>
                </v-layout>
              </v-card-text>
              <v-divider />
              <v-card-actions>
                <v-btn color="primary" @click="++step">
                  Continue
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-stepper-content>
          <v-stepper-step :complete="step > 2" step="2">Select items</v-stepper-step>
          <v-stepper-content step="2">
            <v-card color="grey lighten-4">
              <v-card-text>
                <v-layout row wrap>
                  <v-flex xs6 pa-2>
                    <v-label>Available Items</v-label>
                    <CategorisedItemList :action="addItem" actionLabel="Add Item" />
                  </v-flex>
                  <v-flex xs6 pa-2>
                    <v-label>Selected Items</v-label>
                    <v-list subheader height="400" color="blue-grey lighten-4" class="overflow-y-auto">
                      <v-subheader class="title blue-grey lighten-3">All categories</v-subheader>
                      <v-list-item v-for="({ item, count }, index) in selections" :key="`item-list-item-${item.id}`">
                        <v-list-item-content>
                          <v-list-item-title>{{ item.name }}</v-list-item-title>
                        </v-list-item-content>
                        <v-list-item-action>
                          <v-text-field
                            type="number"
                            :value="count"
                            @input="(value) => $set(selections, index, { item, count: Number(value) })"
                            class="count-field" />
                        </v-list-item-action>
                        <v-list-item-action>
                          <v-btn small text @click="() => selections.splice(index, 1)">
                            <v-icon small>fas fa-trash-alt</v-icon>
                          </v-btn>
                        </v-list-item-action>
                      </v-list-item>
                    </v-list>
                  </v-flex>
                </v-layout>
              </v-card-text>
              <v-divider />
              <v-card-actions>
                <v-btn color="primary" @click="++step">
                  Continue
                </v-btn>
                <v-btn text @click="--step" class="mr-4">
                  Back
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-stepper-content>
          <v-stepper-step step="3">Submit request</v-stepper-step>
          <v-stepper-content step="3">
            <v-card color="grey lighten-4">
              <v-card-text>
                <h2 class="subtitle-1">Terms and conditions</h2>
                <ol>
                  <li>Items must be returned in undamaged and unmodified condition. Normal wear and tear is expected.</li>
                  <li>Problems must be reported immediately and a replacement will be made available if possible.</li>
                </ol>
                <v-checkbox
                  v-model="agreedToTerms"
                  label="I agree to the terms and conditions"
                  off-icon="far fa-square" />
              </v-card-text>
              <v-divider />
              <v-card-actions>
                <v-btn color="success" @click="submit">
                  <v-icon left>fas fa-cloud-upload-alt</v-icon>
                  Submit
                </v-btn>
                <v-btn text @click="--step" class="mr-4">
                  Back
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-stepper-content>
        </v-stepper>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script lang="ts">
  import Vue from 'vue';
  import moment from 'moment';
  import { getSettings } from '@/settings';
  import CategorisedItemList from '@/components/CategorisedItemList.vue';
  import { Item, Selection } from '@/schema';
  import { submitLoanRequest } from '@/services/loans';
  import { required } from '@/validations';
  import { showSnack } from '@/services/snacks';
  import { authState } from '@/services/auth';

  export default Vue.extend({
    name: 'LoanRequestForm',
    components: {
      CategorisedItemList
    },
    data() {
      return {
        step: 1,
        userEmailAddress: authState.username || 'todo@example.com',
        collectionDateMenu: false,
        returnDateMenu: false,
        collectionDate: moment().add(2, 'weeks').format('YYYY-MM-DD'),
        returnDate: moment().add(4, 'weeks').format('YYYY-MM-DD'),
        reason: '',
        selections: [] as Selection[],
        agreedToTerms: true,
        submitting: false
      };
    },
    computed: {
      settings: getSettings
    },
    methods: {
      addItem(itemToAdd: Item) {
        const existingSelection = this.selections.find(({ item: { id } }) => id === itemToAdd.id);
        if (existingSelection) {
          ++existingSelection.count;
        } else {
          this.selections.push({ item: itemToAdd, count: 1 });
        }
        return false;
      },
      async submit() {
        this.submitting = true;
        try {
          await submitLoanRequest({
            selections: this.selections,
            collectionDate: moment(this.collectionDate).toISOString(),
            returnDate: moment(this.returnDate).toISOString(),
            reason: this.reason
          });
          showSnack('Loan request submitted successfully', 'success');
          await this.$router.push('/');
        } catch (e) {
          console.error(JSON.parse(JSON.stringify(e)));
          showSnack(e.toString(), 'error');
        } finally {
          this.submitting = false;
        }
      },
      required
    },
    metaInfo() {
      return {
        title: `Make a request - ${this.settings.title}`,
        meta: [{
          vmid: 'description',
          name: 'description',
          content: `Request equipment and supplies.`
        }]
      };
    }
  });
</script>

<style lang="sass">
  #request-loan
    .count-field
      max-width: 100px
</style>
