<template>
  <v-layout row wrap id="loan-details">
    <v-flex xs12>
      <v-card :loading="loading">
        <v-card-title>
          <h1 class="display-1 my-2">
            {{ loan ? `Loan for ${loan.user}` : error ? 'Error' : 'Loading...' }}
            <a v-if="loan" :href="`mailto:${loan.user}?subject=Loan+${loan.id}`" :title="`Email ${loan.user}`">
              <v-icon>far fa-paper-plane</v-icon>
            </a>
          </h1>
        </v-card-title>
        <v-card-text>
          <p v-if="error">
            An error occurred loading this loan.
          </p>
          <dl v-else-if="loan">
            <dt class="subtitle-2">Reason</dt>
            <dd class="body-1 pb-3">{{ loan.reason }}</dd>
            <dt class="subtitle-2">Collection Date</dt>
            <dd class="body-1 pb-3">{{ moment(loan.collectionDate).format(settings.displayDateFormat) }}</dd>
            <dt class="subtitle-2">Return Date</dt>
            <dd class="body-1 pb-3">{{ moment(loan.returnDate).format(settings.displayDateFormat) }}</dd>
            <dt class="subtitle-2">Selections</dt>
            <dd class="body-1 pb-3">
              <ol>
                <li v-for="({ item, count }) in loan.selections">
                  {{ count }}&times; {{ item.name }}
                </li>
              </ol>
            </dd>
            <dt class="subtitle-2">Events</dt>
            <dd class="body-1 pb-3">
              <ol>
                <li v-for="({ user, eventDate, status, comment }) in loan.events">
                  {{ user }} {{ status }}
                  on {{ moment(eventDate).format(settings.displayDateFormat) }}
                  at {{ moment(eventDate).format(settings.displayTimeFormat) }}
                  <template v-if="comment">
                    with comment &quot;{{ comment }}&quot;
                  </template>
                </li>
              </ol>
            </dd>
            <dt class="subtitle-2">Status</dt>
            <dd class="body-1 pb-3">{{ loan.status }}</dd>
          </dl>
        </v-card-text>
        <template v-if="primaryAction">
          <v-divider />
          <v-card-actions>
            <v-btn color="success" @click="process(primaryAction.targetStatus)">
              <v-icon left small>{{ primaryAction.icon }}</v-icon>
              {{ primaryAction.label }}
            </v-btn>
            <v-spacer />
            <v-btn v-if="secondaryAction" text color="error" @click="process(secondaryAction.targetStatus)">
              <v-icon left small>{{ secondaryAction.icon }}</v-icon>
              {{ secondaryAction.label }}
            </v-btn>
          </v-card-actions>
        </template>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script lang="ts">
  import Vue from 'vue';
  import moment from 'moment';
  import { Loan, LoanStatus } from '@/schema';
  import { getSettings } from '@/settings';
  import { getLoanById, transitionLoan } from '@/services/loans';
  import { formatTimestamp, formatTitle } from '@/formatters';
  import { getNextStatus } from '@/workflow';
  import { showSnack } from '@/services/snacks';

  export default Vue.extend({
    name: 'LoanDetails',
    data() {
      return {
        loan: undefined as Loan | undefined,
        loading: false,
        error: false
      };
    },
    metaInfo() {
      return !this.$data.loan
        ? { title: 'Loading...' }
        : {
            title: `Loan for ${this.$data.loan.user} at ${this.settings.title}`,
            meta: [{
              vmid: 'description',
              name: 'description',
              content: `Loan for ${this.$data.loan.user} - ${this.$data.title}`
            }]
          };
    },
    async mounted() {
      await this.load();
    },
    computed: {
      settings: getSettings,
      primaryAction() {
        return this.$data.loan ? getNextStatus(this.$data.loan.status, 0) : undefined;
      },
      secondaryAction() {
        return this.$data.loan ? getNextStatus(this.$data.loan.status, 1) : undefined;
      }
    },
    methods: {
      formatTimestamp,
      formatTitle,
      moment,
      async load() {
        this.$data.loading = true;
        try {
          this.loan = await getLoanById(this.$route.params.id);
        } catch (e) {
          console.error('Could not load item due to error', e);
          this.$data.error = true;
        } finally {
          this.$data.loading = false;
        }
      },
      async process(newStatus: LoanStatus) {
        // TODO Comments
        this.$data.loading = true;
        console.info(`Processing loan transition to "${newStatus}"`);
        try {
          await transitionLoan(this.$route.params.id, newStatus);
          await this.load();
        } catch (e) {
          console.error('Could not perform status transition due to error', e);
          showSnack(e, 'error');
        } finally {
          this.$data.loading = false;
        }
      }
    }
  });
</script>
