<template>
  <v-card id="login">
    <form @submit="submit">
      <v-card-title>
        <h1 class="display-1 my-2">Login</h1>
      </v-card-title>
      <v-card-text>
        <v-progress-linear indeterminate v-if="loading" />
        <p v-else class="subheading">
          {{ message }}
        </p>
        <v-container fill-height pa-0 ma-0>
          <v-layout row wrap align-center pt-4 pb-1>
            <v-flex sm9 md6 lg4 px-2>
              Username
              <v-text-field
                name="email"
                shadow="false"
                v-model="username"
                :disabled="loading || newPasswordRequired"
                hint="Your email address"></v-text-field>
            </v-flex>
            <template v-if="newPasswordRequired">
              <v-flex v-if="forgotPassword" sm9 md6 lg4 px-2>
                Verification code
                <v-text-field
                  name="verification"
                  shadow="false"
                  v-model="verificationCode"
                  :disabled="loading"
                  hint="The verification code that we sent you"></v-text-field>
              </v-flex>
              <v-flex v-else sm9 md6 lg4 px-2></v-flex>
              <v-flex lg4 visible-lg-only></v-flex>
            </template>
            <v-flex v-if="!forgotPassword || newPasswordRequired" sm9 md6 lg4 px-2>
              {{ newPasswordRequired ? 'New password' : 'Password' }}
              <v-text-field
                name="password"
                shadow="false"
                v-model="password"
                :type="showPassword ? 'text' : 'password'"
                :append-icon="showPassword ? 'fa-eye' : 'fa-eye-slash'"
                :disabled="loading"
                :hint="`${minimumPasswordLength} or more characters`"
                @click:append="showPassword = !showPassword"
              ></v-text-field>
            </v-flex>
            <v-flex v-if="!forgotPassword && newPasswordRequired" sm9 md6 lg4 px-2>
              Repeat password
              <v-text-field
                name="password-repeat"
                shadow="false"
                v-model="passwordRepeat"
                :type="showPassword ? 'text' : 'password'"
                :append-icon="showPassword ? 'fa-eye' : 'fa-eye-slash'"
                :disabled="loading"
                hint="Please type the same password again"
                @click:append="showPassword = !showPassword"
              ></v-text-field>
            </v-flex>
            <v-flex v-if="error" sm9 md6 lg4 px-2 class="error--text">
              {{ error.message }}
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-btn type="submit" :disabled="!canSubmit" rounded color="primary" class="subheading">
          <v-icon small left>fas fa-check</v-icon>
          {{ forgotPassword ? 'Reset password' : 'Submit' }}
        </v-btn>
        <v-btn text type="button" color="secondary" @click="toggleForgotPassword()">
          {{ forgotPassword ? 'Cancel' : 'Forgot password' }}
        </v-btn>
      </v-card-actions>
    </form>
  </v-card>
</template>

<script lang="ts">
  import Vue from 'vue';
  import {
    authState,
    completeNewPasswordChallenge,
    confirmPassword,
    forgotPassword,
    isValidPassword,
    login,
    minimumPasswordLength
  } from '@/services/auth';
  import { getSettings } from '@/settings';

  export default Vue.extend({
    metaInfo() {
      return {
        title: `Login - ${this.settings.title}`
      };
    },
    data() {
      return {
        message: '',
        username: '',
        password: '',
        passwordRepeat: '',
        verificationCode: '',
        loading: false,
        showPassword: false,
        error: undefined,
        authCondition: 'unauthenticated',
        forgotPassword: false,
        authState
      };
    },
    computed: {
      settings: getSettings,
      canSubmit(): boolean {
        if (!this.$data.username) {
          return false;
        }
        if (!this.newPasswordRequired) {
          return isValidPassword(this.$data.password);
        }
        if (this.forgotPassword) {
          return this.$data.verificationCode.length > 0;
        }
        return this.$data.passwordRepeat === this.$data.password;
      },
      minimumPasswordLength(): number {
        return minimumPasswordLength;
      },
      newPasswordRequired(): boolean {
        return this.authCondition === 'new-password-required';
      }
    },
    mounted() {
      this.setInitialMessage();
    },
    methods: {
      setInitialMessage() {
        this.message = this.forgotPassword
          ? 'Please enter your email address to reset your password.'
          : 'Please enter your username and password to login.';
      },
      toggleForgotPassword() {
        this.forgotPassword = !this.forgotPassword;
        if (!this.forgotPassword) {
          this.error = undefined;
          this.authCondition = 'unauthenticated';
        }
        this.setInitialMessage();
      },
      async submit(event: any) {
        event.preventDefault();

        if (!this.canSubmit) {
          return;
        }

        this.loading = true;
        try {
          if (this.forgotPassword) {
            if (this.newPasswordRequired) {
              const { condition, message } = await confirmPassword(this.username, this.password, this.verificationCode);
              this.authCondition = condition;
              this.message = message || this.message;
              this.forgotPassword = false;
            } else {
              const { condition, message } = await forgotPassword(this.username);
              this.authCondition = condition;
              this.message = message || this.message;
            }
          } else if (this.newPasswordRequired) {
            await completeNewPasswordChallenge(this.username, this.password);
          } else {
            const { condition, message } = await login(this.username, this.password);
            this.authCondition = condition;
            this.message = message || this.message;
          }
        } catch (error) {
          this.error = error;
        } finally {
          if (authState.identityToken) {
            await this.$router.push(this.$router.currentRoute.query.from as string || '/');
          } else {
            this.$data.password = '';
            this.loading = false;
          }
        }
      }
    }
  });
</script>

<style lang="sass">
  #login
    width: 100%

    .v-input__slot
      border: 1px solid var(--v-shade-lighten1)
      border-radius: 5px
      box-shadow: none
      font-size: 18px
</style>
