<template>
  <v-layout row wrap id="page-not-found">
    <v-flex xs12>
      <v-card>
        <v-card-title>
          <h1 class="display-1 my-2">Page not found</h1>
        </v-card-title>
        <v-card-text>
          <p class="body-1 my-2">
            Sorry, the page you are looking for is not here.
          </p>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script lang="ts">
  import Vue from 'vue';

  export default Vue.extend({
    name: 'PageNotFound',
    metaInfo() {
      return {
        title: 'Page not found'
      };
    }
  });
</script>
