<template>
  <v-list subheader class="item-list overflow-y-auto" color="blue-grey lighten-4" height="400">
    <v-progress-linear indeterminate v-if="loading" />
    <v-list-item v-else-if="error">
      <v-list-item-avatar>
        <v-icon color="error">fas fa-exclamation-triangle</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>An error occurred loading the item list</v-list-item-title>
        <v-list-item-subtitle>Try refreshing your browser</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <template v-else v-for="category in Object.keys(categories).sort()">
      <v-subheader class="title blue-grey lighten-3">{{ formatTitle(category) }}</v-subheader>
      <v-list-item v-for="item in categories[category]" :key="`item-list-item-${item.id}`" :to="action ? undefined : `/item/${item.id}`">
        <v-list-item-content>
          <v-list-item-title>{{ item.name }}</v-list-item-title>
        </v-list-item-content>
        <v-list-item-action>
          <v-btn icon fab x-large v-model="button" :to="`/item/${item.id}`">Details</v-btn>
        </v-list-item-action>
        <v-list-item-action v-if="action">
          <v-btn icon fab x-large v-model="button" @click="() => { action(item); }">{{ actionLabel }}</v-btn>
        </v-list-item-action>
      </v-list-item>
    </template>
  </v-list>
</template>

<script lang="ts">
  import Vue from 'vue';
  import { Item } from '@/schema';
  import { listItems } from '@/services/items';
  import { formatTitle } from '@/formatters';

  export default Vue.extend({
    name: 'CategorisedItemList',
    props: {
      action: { type: Function, required: false },
      actionLabel: { type: String, required: false }
    },
    data() {
      return {
        loading: false,
        error: false,
        button: true,
        categories: {} as Record<string, Item[]>
      };
    },
    async mounted() {
      this.$data.loading = true;
      try {
        const items = await listItems();
        Object.assign(this.$data.categories, items.reduce(
          (result, item) => {
            result[item.category] = result[item.category] || [];
            result[item.category].push(item);
            return result;
          },
          {} as Record<string, Item[]>
        ));
      } catch (e) {
        console.error('Could not load items', e);
        this.$data.error = true;
      } finally {
        this.$data.loading = false;
      }
    },
    methods: {
      formatTitle
    }
  });
</script>

<style lang="sass">
  .item-list
    a
      text-decoration: none
    .v-btn
      text-transform: unset
</style>
