<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title class="headline">
        <router-link to="/">
          <img alt="" src="/favicon-32x32.png" class="float-left pr-4" />
          {{ settings.title }}
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn text rounded to="/request-loan" class="ml-2">
        <v-icon :small="this.$vuetify.breakpoint.mdAndUp" class="pr-2">fas fa-file-upload</v-icon>
        <template v-if="this.$vuetify.breakpoint.mdAndUp">Submit</template>
      </v-btn>
      <v-btn text rounded to="/loans/by-status/submitted" class="ml-2">
        <v-icon :small="this.$vuetify.breakpoint.mdAndUp" class="pr-2">fas fa-handshake</v-icon>
        <template v-if="this.$vuetify.breakpoint.mdAndUp">Review</template>
      </v-btn>
      <v-btn text rounded to="/loans/by-status/approved" class="ml-2">
        <v-icon :small="this.$vuetify.breakpoint.mdAndUp" class="pr-2">fas fa-truck-loading</v-icon>
        <template v-if="this.$vuetify.breakpoint.mdAndUp">Collect</template>
      </v-btn>
      <v-btn text rounded to="/loans/by-status/collected" class="ml-2">
        <v-icon :small="this.$vuetify.breakpoint.mdAndUp" class="pr-2">fas fa-truck-moving</v-icon>
        <template v-if="this.$vuetify.breakpoint.mdAndUp">Return</template>
      </v-btn>
      <v-btn text rounded to="/help" class="ml-2">
        <v-icon :small="this.$vuetify.breakpoint.mdAndUp" class="pr-2">fas fa-question-circle</v-icon>
        <template v-if="this.$vuetify.breakpoint.mdAndUp">Help</template>
      </v-btn>
    </v-app-bar>
    <v-content>
      <v-container>
        <v-layout row wrap class="ma-4">
          <v-flex xs12>
            <router-view />
          </v-flex>
        </v-layout>
        <v-snackbar v-model="snack && snack.visible" :color="snack && snack.type || 'grey'">
          {{ snack && snack.message }}
          <v-btn right text @click="hideSnack">
            <v-icon small>fas fa-times</v-icon>
          </v-btn>
        </v-snackbar>
      </v-container>
    </v-content>
    <v-footer elevation="5">
      Copyright &copy; 2019 SAS
      <v-spacer />
      <template v-if="authState.identityToken">
        Logged in as {{ authState.username }}
        <template v-if="authState.groups">
          ({{ authState.groups.join(', ') }})
        </template>
        <v-spacer />
        <v-btn text @click="logout">
          <v-icon small left>fas fa-sign-out-alt</v-icon>
          Logout
        </v-btn>
      </template>
      <v-btn v-else text to="/login">
        <v-icon small left>fas fa-sign-in-alt</v-icon>
        Login
      </v-btn>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
  import Vue from 'vue';
  import { getSettings } from '@/settings';
  import { hideSnack, snack } from '@/services/snacks';
  import { initialiseAuthenticationService, authState, logout } from '@/services/auth';

  export default Vue.extend({
    name: 'App',
    data() {
      return { snack };
    },
    computed: {
      settings: getSettings,
      authState: () => authState
    },
    methods: {
      logout,
      hideSnack
    }
  });
</script>

<style lang="sass">
  .v-toolbar__title
    a
      color: black
      text-decoration: none
</style>
